* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FAF1E6;
    width: 100%;
}

.title {
    font-size: 1.2em;
    margin: 5px auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.selected {
    border: 2px solid black;
    box-sizing: border-box;
}

.border {
    border: 1px solid black;
}

.selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

#random-color-button {
    width: 95%;
    margin: 2px 0;
}

.color-selector-container {
    display: flex;
    flex-direction: row;
}

.lock-color {
    margin-bottom: 5px;
}

#fixed-colors-container {
    display: flex;
    flex-direction: row;
}

.color-card {
    margin: 5px;
    width: 75px;
    height: 100px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.color-selector {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.cell {
    width: 30px;
    height: 30px;
    margin:0.25px;
    border: 0.5px solid rgb(230, 230, 230);
}

#grid-container {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.options-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.btn {
    margin: 0 5px;
    padding: 5px;
    width: 55px;
}

#grid-size {
    text-align: center;
}